**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules
.DS_Store

**/command-output/

.idea/
*.iml

yarn.lock
**/pulumiManifest.go

**/nuget/

## Provider
**schema.go
**schema-embed.json

## SDKs
sdk/nodejs/node_modules/yn/package.json
**/node_modules
sdk/dotnet/version.txt
sdk/nodejs/bin/
sdk/nodejs/node_modules/
sdk/python/bin/

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

## Examples
**.pyc
**/venv

## Goreleaser
dist/

## CI scripts
**/ci-scripts
**/nuget


sdk/python/venv
