**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml

**/command-output/

.idea/
*.iml

yarn.lock
**/pulumiManifest.go

**/nuget/

## Provider
**schema.go
**schema.json

## SDKs
sdk/dotnet/version.txt
sdk/nodejs/bin/
sdk/nodejs/node_modules/
sdk/python/bin/

## Examples
**.pyc
**/venv

## Goreleaser
dist/
