**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules

**/command-output/

.idea/
*.iml

yarn.lock
**/pulumiManifest.go

**/nuget/

## Provider
**schema.go

## SDKs
sdk/dotnet/version.txt
sdk/nodejs/bin/
sdk/nodejs/node_modules/
sdk/python/bin/

## Examples
**.pyc
**/venv

## Goreleaser
dist/
